
:root {
  --vt-c-white: #ffffff;
}

body {
  height: 100vh;
  background-color:#976c4d;
  line-height: 1.6;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
